/* Lio deck typefaces. See README.md in this folder for provenance & license.
   Inter: variable weight subset (latin), covers 100-900.
   Geist Mono: static 400 / 500 (latin). */

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100 900;
  src: url('./Inter-Variable-latin.woff2') format('woff2'),
       url('./Inter-400.ttf') format('truetype');
}

@font-face {
  font-family: 'Geist Mono';
  font-style: normal;
  font-weight: 400;
  src: url('./GeistMono-400-latin.woff2') format('woff2'),
       url('./GeistMono-400.ttf') format('truetype');
}

@font-face {
  font-family: 'Geist Mono';
  font-style: normal;
  font-weight: 500;
  src: url('./GeistMono-500-latin.woff2') format('woff2'),
       url('./GeistMono-500.ttf') format('truetype');
}
